*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/base/build/
/base/cmake-build-debug/
/base/.idea
/base/.vscode
*.esp32dev.old
/.idea/inspectionProfiles/
